{% extends 'base.html' %}
{% block content %}

<div class="col-sm-9">
    <h4><small>Frequently Asked Questions</small></h4>

    <ul>

        <li> <h3>How does this works?</h3> </li>

        <li> <h4>You place the URL from a supported website, and we will check the URL every 3 minutes for 1 hour.</h4> </li>

        <li> <h3>Is there a limit to how many requests I can place?</h3> </li>

        <li> <h4>Yes, each user can only place one request each 24 hours.</h4></li>

        <li> <h3>How long does each requests lasts?</h3> </li>

        <li> <h4>Each request lasts for 1 hour.</h4> </li>

        <li> <h3>Where can I see the supported list of websites?</h3> </li>

        <li> <h4>Here</h4> </li>

        <li> <h3>The website that I want is not listed, can I submit suggestions?</h3> </li>

        <li> <h4>Absolutely. Email me at contactme@jorgecaridad.dev with your website request.</h4> </li>

        <li> <h3>Is this intended to be a product? </h3> </li>

        <li> <h4>Absolutely not, this is a mere school project, and further development of this project will be halted.</h4> </li>

        <li> <h3>Do you save any user's information?</h3> </li>

        <li> <h4>Currently, the only way to sign in is via Google, and your email information along with other relevant info it is stored.</h4> </li>
    </ul>


    <br><br>

{% endblock %}