{% extends 'base.html' %}
{% block content %}

<div class="col-sm-9">
    <h4><small>Home Page</small></h4>
    <hr>
    <div class="text-center">
      <h3>We love new users, but please be sure to read the Frequently Asked Questions. <br> <br> This is a free tool and there are limitations.</h3>
      <h3>Go to the Nav bar to place a new query. <br> <br> Remember to check the list of supported websites, before placing a new query. </h3>  
    </div>
</span> 

<!-- <span class="label label-primary">Sticky</span></h5><br>
  <p>Hi, please use this soundly.</p>
    <h5><span class="glyphicon glyphicon-time"></span> Posted by Admin, July 28, 2021.</h5> -->

    <br><br>

{% endblock %}