{% extends 'base.html' %} {% block content %}

<div class="col-sm-9">
  <h4><small>Current Queries Page</small></h4>
  <hr />
  <h2>Current Queries</h2>

  <!-- {{ order_list }} -->

  {% for instance in order_list %}

  <table  class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Query Name</th>
        <th scope="col">Date Placed</th>
        <th scope="col">Active</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>

      </tr>
    </thead>

    <tbody style="height: 0px">
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{instance.product_name}}</td>
        <td>{{instance.query_name}}</td>
        <td>{{instance.date}}</td>
        <td>{{instance.active}}</td>
        <td>{{instance.category}}</td>
  
        <form action="{% url 'main:deactivate_query' instance.id %}" method="POST">
          {% csrf_token %}
          <td>
            <button type="submit" class="btn btn-danger">Deactivate</button>
          </td>
        </form>
      </tr>
    </tbody>
  </table>

  {% empty %}

  <h2>None</h2>

  {% endfor %}

  <br /><br />

  {% endblock %}
</div>
