{% extends 'base.html' %}
{% block content %}
{% if submitted %} Your New Entry entry
was added. {% else %}


<div class="col-sm-9">
    <h4><small>New Query Page</small></h4>
    <hr>
    <h2>What do you want to get notified about?</h2>
    <br><br>
    <form action="" method="POST">
        {% csrf_token%}
        <hr>
        <h4>Register Your Email for Requests Request</h4>

        <br>
        
        <table>
            {{ form.as_table}}
        </table>
        
        <input type="submit" value="Send" class="btn">



    </form>

    {% endif %} {% endblock %}